nav> ul{
    display:flex;
}
nav li{
    list-style: none;
    margin-left: 20px;

}
nav a{
    text-decoration: none;
}
nav li :hover{
    background-color: lightgrey;
}
nav .dp{
    display: none;
}
nav li:hover> .dp{
    display: block;
}